{% extends "login_register/base.html" %}
{% block title %}View Appointment{% endblock title %}
{% block body %}
<style>
.fixed {
  position: fixed;
}
.headerStyle{
    background-color: #a2d2ff;
    background-image: linear-gradient(315deg, #a2d2ff 0%, #bde0fe 74%);
    border-radius: 15px;
}
</style>
<div style="margin-top: 20px;" class="container col-10">
    <div class="media">
        <div styele="margin-left: 30px;" class="media-body col-5">
            {% for appointmentIdList,addressList,doctorNameList,appointmentDateList,appointmentTimeList in appointmentDetails %}
                <div class="card text-black" value="{{appointmentIdList}}">
                    <div class="card-header headerStyle">
                        <div class="clearfix">
                            <h4 class="font-weight-bold card-title float-left">
                                <i style="margin-right: 10px;" class="fas fa-user-md"></i>Dr. {{doctorNameList}}
                            </h4>
                            <form class="float-right" action="{% url 'cancelAppointments' appointmentIdList %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger float-right" value="Cancel">      
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <p style="text-align:justify" class="lead card-text text">
                            <i style="margin-right: 10px;" class="far fa-clock"></i>{{appointmentTimeList}}
                        </p>
                        <p style="text-align:justify" class="lead card-text text">
                            <i style="margin-right: 10px;" class="far fa-calendar-alt"></i>{{appointmentDateList}}
                        </p>
                        <p style="text-align:justify" class="lead card-text text">
                            <i style="margin-right: 10px;" class="fas fa-clinic-medical"></i>{{addressList}}
                        </p>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
        <img style="margin-left: 700px;" class="fixed"  src="/static/images/ViewAppontment.png" alt="avatar">
    </div>
</div>
{% endblock body %}