{% extends "login_register/base.html" %}

{% block title %}Edit Profile{% endblock title %}

{% block body %}

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="js/popper.min.js"></script>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
 
<script type="text/javascript" src="js/mdb.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>

<script>
    var config = {
        apiKey: "AIzaSyCR1mvz5oDzyUfC6fk_Y56mgGXy7uVawCY",
        authDomain: "pashe-achi-cse299.firebaseapp.com",
        databaseURL: "https://pashe-achi-cse299-default-rtdb.firebaseio.com/",
        projectId: "pashe-achi-cse299",
        storageBucket: "pashe-achi-cse299.appspot.com",
        messagingSenderId: "798613820174",
        appId: "1:798613820174:web:8d03f5cf0fbae3e9dcbd5f",
        measurementId: "G-TZN8WC3LJT"
    };
    firebase.initializeApp(config);
    // Get a reference to the storage service, which is used to create references in your storage bucket
    function upprofile(){
        var storage = firebase.storage();
        var file = document.getElementById("files").files[0];
        var storageRef = storage.ref();
        var thisref = storageRef.child("Profile_Picture").child(file.name).put(file);
        thisref.on('state_changed',function(snapshot){
        console.log("file uplaoded succesfully");
    },
    function(error) {
    },
    function() {
    // Upload completed successfully, now we can get the download URL
        var downloadURL = thisref.snapshot.downloadURL;
        console.log("got url");
        document.getElementById("photolink").value = downloadURL;
        alert("file uploaded successfully");
        document.profile_image.submit();
    });
    }
</script> 

<nav class="navbar navbar-expand-lg" style="top:-30px;">

<ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item avatar">
    <a class="nav-link p-0" href="{% url 'VP' %}" style="color:white;">
    <strong>  {{fname}} {{lname}}  </strong>
            
    {% if photolink is None %}
        <img src="https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Photo%20Not%20Available.png?alt=media&token=bf96af46-58df-4002-a78a-6e78aafdc058" class="rounded-circle z-depth-0" alt="No image found!" height="35">
    {% else %}
        <img src={{photolink}} class="rounded-circle z-depth-0" alt="No image found!" height="35">
    {% endif %}
      
    </a>
    </li>
</ul>
</nav>
    
<div class="container-fluid">
<!-- Section: Edit Account -->
<section class="section padding">
<!-- First row -->
<div class="row">
<!-- First column -->
<div class="col-lg-4 mb-4">
<!-- Card -->
<div class="card card-cascade narrower" style="background-color: #5ca0f2;background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);">
<!-- Card image -->
    <div class="view view-cascade gradient-card-header">
        <h5 class="mb-0 font-weight-bold">Profile</h5>
    </div>
    <!-- Card image -->
    
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
    {% if photolink == 0 %}
        <img src="https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Photo%20Not%20Available.png?alt=media&token=bf96af46-58df-4002-a78a-6e78aafdc058" alt="No image found!" height="250">
    {% else %}
        <img src={{photolink}} alt="No image found!" height="250">
    {% endif %}

    <br><br> 
    <label class="col-sm-8 control-label" style="font-weight: 800;">{{fname}} {{lname}}</label>
    <div class="col-sm-13">
        <form action= "{% url 'update_img_url' %}" id="profile_image" name= "profile_image" method="POST">
        {% csrf_token %}
            <input class="form-control" type="file" name="files[]" id="files" >
            <input type="hidden" name="photolink" id="photolink">
    </div><br>
                  
            <p class="text-muted"><small>Profile photo will be changed automatically</small></p>

            <div class="row flex-center">
            <button type ="button" onclick ="upprofile()" class="btn btn-info btn-rounded btn-sm btn-orange waves-effect waves-light">Upload New Photo</button><br>
            </div>
        </form>
    </div>
    <!-- Card content -->
</div>
<!-- Card -->
</div>

    <div class="col-lg-8 mb-4">
    <!-- Card -->
    <div class="card card-cascade narrower" style="background-color: #d5fefd;background-image: linear-gradient(315deg, #d5fefd 10%, #fffcff 100%); font-weight:800;">
    <!-- Card image -->
        <div class="view view-cascade gradient-card-header">
            <h5 class="mb-0 font-weight-bold">Edit Account</h5>
        </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="container bootstrap snippets bootdeys">
  
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> <b></b></h4>
        </div>

    <form action="{% url 'update_profile' %}" method="POST">
    {%  csrf_token %}

    <div class="form-group">

        <label class="col-sm-2 control-label"> <strong> First Name </strong></label>
        <div class="col-sm-12">
            <input value="{{fname}}" name="fname" type="text" class="form-control" required>
        </div>

        <label class="col-sm-2 control-label"> <strong> Last Name </strong></label>
        <div class="col-sm-12">
            <input value="{{lname}}" name="lname" type="text" class="form-control" required>
        </div>

        <label class="col-sm-2 control-label"> <strong> Age </strong></label>
        <div class="col-sm-12">
            <input value="{{age}}" name="age" type="number" class="form-control">
        </div>

        <label class="col-sm-2 control-label"> <strong> Date of Birth </strong></label>
        <div class="col-sm-12">
            <input value="{{dob}}" name="dob" type="text" class="form-control" onfocus="(this.type='date')">
        </div>
            
        <label class="col-sm-2 control-label"><strong> Gender </strong></label>
        <div  class="col-sm-12">
            <select name="gender" class="form-control">
                <option value="{{gender}}" selected>{{gender}}</option>
                <option value = "Female">Female</option>
                <option value = "Male">Male</option>
                <option value = "Others">Others</option>
            </select>    
        </div>

        <label class="col-sm-2 control-label"> <strong> Occupation </strong></label>
        <div class="col-sm-12">
            <input value="{{occupation}}" name="occupation" type="text" class="form-control">
        </div>

        <label class="col-sm-2 control-label"> <strong> Contact Number </strong></label>
        <div class="col-sm-12">
            <input value="{{cnumber}}" name="cnumber" type="number" class="form-control">
        </div>
          
        <label class="col-sm-2 control-label"><strong> Blood Group </strong></label>
        <div  class="col-sm-12">
            <select name="bgroup" class="form-control">
                <option value="{{bgroup}}" selected>{{bgroup}}</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
        </div>

        <div class="form-group">
        <div class="col-sm-12 col-sm-offset-2">
            <button type="submit" class="btn btn-success">Update</button>
    </form>
    </div>
    </div>     
    </div>
    </div>   
    </div>
</div>
</div>
   
<style>

    .navbar{
        background-color: #537895;
        background-image: linear-gradient(315deg, #0d0a0b 25%, #009fc2 125%);
        color:white;
        font-size: 18px
    }

</style>
{% endblock body  %}
