{% extends "login_register/base.html" %}

{% block title %}Home Page{% endblock title %}

{% block chat %} {% endblock chat %}

{% block style %}
{{block.super}}
<style>
.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
#card-body-style{
    background-color: #d8dbe2;
    border-style: solid;
    border-color:#52b69a;
    border-width: medium;
    border-radius: 10px;
    margin-top: 15px;
}
#details-style{
    color: #bc4749;

}
.uploadbutton {
  background-color: white; 
  color: black; 
  border: 2px solid #086375;
  border-radius: 4px;
}
.uploadbutton:hover {
  background-color: #086375;
  color: white;
}
</style>

{% endblock style %}

{% block body %}

<div class="container col-6">
    <form action="{% url 'add_post' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="post"></label>
            <textarea class="form-control" placeholder="Say something. . ." id="post" rows="3" name="post"></textarea>
        </div>
        <input style="color: #61a5c2;" type="file" name="files[]" id="files">
        <br>
        <input type="hidden" name="url" id="url">
        <button class="uploadbutton" type="button" data-toggle="tooltip" data-placement="right" title="Upload Picture" onclick="uploadimage()">
        Upload <i class="fas fa-arrow-circle-up"></i></button>
        <button style="margin-top: 10px; background-color:#67b99a;" class="mt-9 btn btn-block font-weight-bold text-black" type="submit">Post</button>
    </form>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-firestore.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: 'AIzaSyCR1mvz5oDzyUfC6fk_Y56mgGXy7uVawCY',
            authDomain: 'pashe-achi-cse299.firebaseapp.com',
            databaseURL: 'https://pashe-achi-cse299-default-rtdb.firebaseio.com/',
            projectId: 'pashe-achi-cse299',
            storageBucket: 'pashe-achi-cse299.appspot.com',
            messagingSenderId: "798613820174",
            appId: '1:798613820174:web:8d03f5cf0fbae3e9dcbd5f',
            measurementId: 'G-TZN8WC3LJT'
        };
        firebase.initializeApp(firebaseConfig);
        function uploadimage(){
            var storage = firebase.storage();
            var storageRef = storage.ref();
            var file = document.getElementById("files").files[0];
            var thisref = storageRef.child(file.name).put(file);
            console.log(thisref);
            thisref.on("state_changed",function(snapshot){
                console.log("file uplaoded succesfully");
                },
                function(error) {
                },
                function() {
                    // Upload completed successfully, now we can get the download URL
                    var starsRef = storageRef.child(file.name);
                    // Get the download URL
                    starsRef.getDownloadURL()
                    .then((url) => {
                        document.getElementById("url").value = url;
                    console.log(url);
                    alert("File uploaded successfully");
                    })
                });
        }
        // initialize tooltip  
        $('[data-toggle="tooltip"]').tooltip();
    </script>
    {% for timeStampList, userNameList, dateTimeList, postList, totalLikesList, totalCommentsList, urlList, proPicList in postDetails %}
        <div id="card-body-style" class="card mb-3">
            <div class="card-body">
                <div class="position-relative">
                    <div class="clearfix">
                        <h5 class="font-weight-bold card-title float-left">
                        {% if proPicList == None %}
                            <img src="/static/images/NoProfilePicture.png" class="rounded-circle" width="30" height="30" alt="avatar">
                        {% else %}
                            <img src={{proPicList}} class="rounded-circle" width="30" height="30" alt="">
                        {% endif %}
                        {{userNameList}}</h5>
                        <h5 style="padding: 7px 0px;" class="font-weight-bold card-title float-right">{{dateTimeList}}</h5>
                    </div>
                    {% if urlList == 0 %}
                        <p style="text-align:justify" class="lead card-text text">{{postList}}</p>
                    {% else %}
                    <p style="text-align:justify" class="lead card-text text">{{postList}}</p>
                    <center>
                        <img style="height: 100%; width: 100%; object-fit: contain;" src={{urlList}}>
                    </center>
                    {% endif %}
                </div>
                <br>
                <div class="clearfix">
                    <div class="d-flex flex-row float-left">
                        <form method="POST" action="{% url 'like' timeStampList %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value=" ">
                            <button style="background-color: transparent; border:none; box-shadow:none;" type= "submit">
                                <i class="far fa-thumbs-up fa-lg"><span>{{totalLikesList}}</span></i>
                            </button>
                        </form>
                        <div class=" ">
                            <button style="background-color: transparent; border:none; box-shadow:none;">
                                <a href="{% url 'post_details' timeStampList  %}">
                                <i class="far fa-comment-dots fa-lg"><span>{{totalCommentsList}}</span></i>
                                </a>
                            </button>
                        </div>
                    </div>
                    <a href="{% url 'post_details' timeStampList  %}">
                        <h5 id="details-style" class="font-weight-light float-right">Details
                            <i style="margin-left: 5px;" class="fas fa-angle-double-right"></i> 
                        </h5>
                     </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
</div>

{% endblock body %}