{% extends "login_register/base.html" %}

{% block title %}Post Details{% endblock title %}

{% block body %} 
<br>
<div class="mt-5 mb-5 col-lg-6 container">
    <div class="mt-5 card border-primary mb-3">
        <div class="mt-2 card-body">
            <div class="clearfix">
                <h5 class="font-weight-bold card-title float-left">{{userName}}</h5>
                <h5 class="font-weight-bold card-title float-right">{{dateTime}}</h5>
            </div>
            {% if url == 0 %}
                <p style="text-align:justify" class="lead card-text">{{post}}</p>
            {% else %}
            <p style="text-align:justify" class="lead card-text">{{post}}</p>
            <center>
                <img style="height: 100%; width: 100%; object-fit: contain;" src={{url}}>
            </center>
            {% endif %}
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' timeStampList %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value=" ">
                    <button style="background-color: transparent; border:none; box-shadow:none;" type= "submit">
                        <i class="far fa-thumbs-up fa-lg"><span>{{totalLikes}}</span></i>
                    </button>
                </form>
                <button style="background-color: transparent; border:none; box-shadow:none;">
                    <i class="far fa-comment-dots fa-lg"><span>{{totalComments}}</span></i>
                </button>
            </div>
        </div>
    </div>
    <form action="{% url 'comment' timeStampList%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment"></label>
            <textarea class="form-control" placeholder="Comment" id="comment" rows="3" name="comment"></textarea>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Comment</button>
    </form>
    {% for commentDateTimeList, commenterList, commentList in commentDetails %}
        <div class="mt-3 border-bottom container">
            <div class="clearfix">
                <h5 style="font-size:15px;" class="font-weight-bold float-left">{{commenterList}}</h5>
                <h5 style="font-size:15px;" class="font-weight-bold float-right">{{commentDateTimeList}}</h5>
            </div>
            <p style="text-align:justify; font-size:18px;">{{commentList}}</p>
        </div>
    {% endfor %}
</div>
{% endblock body %}