{% extends "login_register/base.html" %}
{% block title %}Post Details{% endblock title %}
{% block chat %} {% endblock chat %}
{% block body %} 
<style>
#card-body-style{
    background-color: #abc4ff;
    border-style: solid;
    border-color:#52b69a;
    border-width: thin;
    border-radius: 10px;
}
</style>
<div style="margin-bottom: 50px;" class="container col-6">
    <div id="card-body-style" class="card mb-3">
        <div class="card-body">
            <div class="clearfix">
                <h5 class="font-weight-bold card-title float-left">
                {% if proPic == None %}
                    <img src="/static/images/NoProfilePicture.png" class="rounded-circle" width="30" height="30" alt="avatar">
                {% else %}
                    <img src={{proPic}} class="rounded-circle" width="30" height="30" alt="">
                {% endif %}
                {{userName}}</h5>
                <h5 style="padding: 7px 0px;" class="font-weight-bold card-title float-right">{{dateTime}}</h5>
            </div>
            {% if url == 0 %}
                <p style="text-align:justify" class="lead card-text">{{post}}</p>
            {% else %}
            <p style="text-align:justify" class="lead card-text">{{post}}</p>
            <center>
                <img style="height: 100%; width: 100%; object-fit: contain;" src={{url}}>
            </center>
            {% endif %}
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' timeStampList %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value=" ">
                    <button style="background-color: transparent; border:none; box-shadow:none;" type= "submit">
                        <i class="far fa-thumbs-up fa-lg"><span>{{totalLikes}}</span></i>
                    </button>
                </form>
                <button style="background-color: transparent; border:none; box-shadow:none;">
                    <i class="far fa-comment-dots fa-lg"><span>{{totalComments}}</span></i>
                </button>
            </div>
        </div>
    </div>
    <form action="{% url 'comment' timeStampList%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment"></label>
            <textarea class="form-control" placeholder="Write a Comment. . ." id="comment" rows="3" name="comment"></textarea>
        </div>
        <button style="background-color: #67b99a;" class="btn btn-block" type="submit">Comment</button>
    </form>
    {% for commentDateTimeList, commenterList, commentList, commenterProPicList in commentDetails %}
        <div style="color: white;" class="border-bottom">
            <div class="clearfix">
                <h5 style="font-size:15px;" class="font-weight-bold float-left">
                {% if commenterProPicList == None %}
                    <img src="/static/images/NoProfilePicture.png" class="rounded-circle" width="30" height="30" alt="avatar">
                {% else %}
                    <img src={{commenterProPicList}} class="rounded-circle" width="30" height="30" alt="">
                {% endif %}
                {{commenterList}}</h5>
                <h5 style="font-size:15px;" class="font-weight-bold float-right">{{commentDateTimeList}}</h5>
            </div>
            <p style="text-align:justify; font-size:18px;">{{commentList}}</p>
        </div>
    {% endfor %}
</div>
{% endblock body %}