{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href=" https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"crossorigin="anonymous"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js  "></script>
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

<title>{% block title %}{% endblock title %}</title>
	 
</head>
<body>

{% block chat %}
<df-messenger
  chat-icon="https:&#x2F;&#x2F;firebasestorage.googleapis.com&#x2F;v0&#x2F;b&#x2F;pashe-achi-cse299.appspot.com&#x2F;o&#x2F;Home_PasheAchi_Logo.gif?alt=media&amptoken=455e2db4-b170-4a4a-b4a5-480a7045ef8c"
  intent="WELCOME"
  chat-title="Pashe-Achi-Bot"
  agent-id="bc1b168d-1c59-444e-bccf-e8bfcdcedad0"
  language-code="en">
</df-messenger>
{% endblock chat %}

<div class="clearfix sticky-top" style="background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%); color:white; top:-30px;">
    <img style="margin-top: 10px; margin-bottom:10px; margin-left:25px;" width="130" height="130" class="animated-gif float-left" src="https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home_PasheAchi_Logo.gif?alt=media&token=455e2db4-b170-4a4a-b4a5-480a7045ef8c">

    <header class="float-right">

    <div class="navigation">
    <ul id="navList">
    <li>
        <a href="{% url 'home' %}" class="active">
        <i class="fa fa-home"></i> Home
        </a>
    </li>

    <li>
        <a  href="{% url 'home_page' %}" class="active">
        <i  class="fas fa-pencil-alt"></i> Blog Post
        </a>
    </li>

    <li>
        <a  href="{% url 'search_page' %}" class="active">
        <i  class="fas fa-search"></i> Search Blog Post
        </a>
    </li>

    <li>
        <a href=""class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-calendar"></i>Appointments
        </a>

        <div class="dropdown-menu itemText">
        <a style="color: #537895;" href="{% url 'createAppointment' %}" class="dropdown-item">
        <i class="fas fa-calendar-check"></i>Make Appointment</a>
        <a style="color: #537895;" href="{% url 'viewAppointments' %}" class="dropdown-item">
        <i class="fas fa-clipboard-list"></i>View Appointments</a>
        </div>
    </li>

    <li>
        <a href=""class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-hand-holding-heart"></i>Plasma Donor
        </a>

        <div class="dropdown-menu">
        <a style="color: #537895;" href="{% url 'become_donor' %}"class="dropdown-item">
        <i class="fas fa-hands-helping"></i>Become a donor</a>
        <a style="color: #537895;" href="{% url 'donor_list' %}" class="dropdown-item">
        <i class="fas fa-users"></i>View Donors</a>
        </div>
    </li>

    <li>
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-viruses"></i> COVID19 Updates
        </a>

        
        <div class="dropdown-menu">
        <a href="{% url 'BDnews' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-globe-asia" aria-hidden="true"></i> Bangladesh COVID19 News
        </a>
        
        <a href="{% url 'bd' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-globe-asia"></i> Bangladesh COVID19 Updates
        </a>

        <a href="{% url 'cases' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-flag"></i> Cases By Countries
        </a>

        <a href="{% url 'AT' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-capsules"></i> COVID19 Treatments List
        </a>

        <a href="{% url 'AV' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-syringe"></i> COVID19 Vaccines List
        </a>

        <a href="{% url 'vaccine_news' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-globe-asia" aria-hidden="true"></i> COVID-19 Vaccine News
        </a>

        <a href="{% url 'world' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-globe"></i> World COVID19 Updates
        </a>
  
        </div>
    </li>

    <li>
        <a href=""class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-hospital-user"></i>COVID19 Services</a>

        <div class="dropdown-menu">
        <a href="{% url 'ambulance' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-ambulance"></i> Ambulance
        </a>

        <a href="{% url 'view_icu_beds' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-procedures" aria-hidden="true"></i> Available ICU beds
        </a>

        <a href="{% url 'ch' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-phone"></i> COVID19 Hotline
        </a>

        <a href="{% url 'tp' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-vial"></i> COVID19 Test Institutions
        </a>

        <a href="{% url 'tc' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-hospital"></i> COVID19 Test Centers
        </a>

        <a href="{% url 'doc_list' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-user-md" aria-hidden="true"></i> Doctors 
        </a>

        <a href="{% url 'ib' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-clinic-medical"></i> ICU Beds List
        </a>

        <a href="{% url 'oc' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-pump-medical"></i> Oxygen Suppliers List
        </a>

        <a href="{% url 'view_oxygen_cylinders' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-lungs" aria-hidden="true"></i> Purchase Oxygen Cylinder
        </a>

        <a href="{% url 'tm' %}" class="dropdown-item" style="color: #537895">
        <i class="fas fa-comment-medical"></i> Telemedicine Services
        </a>

        <a  href="https://surokkha.gov.bd/enroll" class="dropdown-item" style="color: #537895">
        <i class="fas fa-syringe"></i> Vaccine Registration 
        </a>


        </div>
    </li>
 
    <li>
        <a href="{% url 'VP' %}" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user-circle"></i> Profile
        </a>

        <div class="dropdown-menu">
        <a href="{% url 'VP' %}" class="dropdown-item" style="color: #537895;">
        <i class="fas fa-user"></i> View Profile
        </a>

        <a style="color: #537895;" href="{% url 'timeline' %}" class="dropdown-item">
        <i style="margin-right: 10px;" class="fas fa-stream"></i> Timeline</a>

        <a href="{% url 'logout' %}" class="dropdown-item" style="color: #537895;">
        <i class="fas fa-user-times"></i> Logout
        </a>
        </div> 
    </li>

    </ul>
    </div>

</header> 
</div>

<style>

    body {
        background-position: center;
        line-height: 1.5;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;   
        background-color: #537895;
        background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    }
    
    header{
        margin-top: 40px;
        height:25%;
    }

    header .navigation a{
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 2px 10px;
        border-radius: 20px;
        transition: 0.3s;
        transition-property: background;
    }

    header .navigation a:hover{
        background: #226A80;
    }

    header .navigation .fa{
        margin-right: 8px;
    }

    #navList li{
        display:inline;
        float: left;
    }
    #navigation{
        display:inline;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(114, 223, 255, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    label .menu-btn{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content .info p{
        font-size: 14px;
        }
    }

    img.animated-gif{
        width: 50px;
        height: 50px;
    }
        
</style>

{% block body %}{% endblock body %}  

</body>
</html>
