{% extends "login_register/base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<div style="position:relative; top:-120px;">

<div id="indicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#indicators" data-slide-to="0" class="active"></li>
    <li data-target="#indicators" data-slide-to="1"></li>
    <li data-target="#indicators" data-slide-to="2"></li>
    <li data-target="#indicators" data-slide-to="3"></li>
    <li data-target="#indicators" data-slide-to="4"></li>
    <li data-target="#indicators" data-slide-to="5"></li>
    <li data-target="#indicators" data-slide-to="6"></li>
    <li data-target="#indicators" data-slide-to="7"></li>
    <li data-target="#indicators" data-slide-to="8"></li>
    <li data-target="#indicators" data-slide-to="9"></li>
    <li data-target="#indicators" data-slide-to="10"></li>
    <li data-target="#indicators" data-slide-to="11"></li>
    <li data-target="#indicators" data-slide-to="12"></li>
    <li data-target="#indicators" data-slide-to="13"></li>
    <li data-target="#indicators" data-slide-to="14"></li>
    <li data-target="#indicators" data-slide-to="15"></li>
    <li data-target="#indicators" data-slide-to="16"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
   
    <div class="carousel-item active" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_1.jpg?alt=media&token=a41902fb-b93a-4d88-8d3b-17bfa70adfaa')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_2.jpg?alt=media&token=749092ae-2e68-4011-a389-8ab49eba47e8')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_3.jpg?alt=media&token=52e8ae21-5655-452f-bde1-707bacd11e0f')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div>

     <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_4.jpg?alt=media&token=3dbcaab2-eb6f-46e5-b568-99deac3dee00')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_5.jpg?alt=media&token=24f12cbe-a6b5-4c92-a6be-354f1c017276')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div>

     <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_6.jpg?alt=media&token=f930e261-69f8-4922-ba0f-a29fc6e06d0b')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_7.jpg?alt=media&token=6c2b5d79-1e1c-4d79-ac72-46130fc1c7d6')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_8.jpg?alt=media&token=b05b1190-da62-4857-aef0-74228acb60d4')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div>

     <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_9.jpg?alt=media&token=3cb6efb4-8f59-4ba1-bb82-afe9e3ddca4f')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_10.jpg?alt=media&token=6c97be2a-9bb6-4b58-a00e-641647ac6fd6')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_11.jpg?alt=media&token=ddd3ab71-60a8-4d6c-b522-4ba0bbcb62ae')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_12.jpg?alt=media&token=55667060-375b-4936-bbcd-6b2cf40f1c92')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_13.jpg?alt=media&token=9d906e88-cf91-4d1f-8271-a929c7804cc6')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_14.jpg?alt=media&token=66c27808-0ee5-46f4-bacd-1b6d95ff600a')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_15.jpg?alt=media&token=66344790-138b-48c0-9986-4086a4e1d83f')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 

    <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_16.jpg?alt=media&token=4e402b93-4e71-45dc-9c73-9b9ed8c821cb')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div>

     <div class="carousel-item" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pashe-achi-cse299.appspot.com/o/Home%20Slider%2FScreenshot_17.jpg?alt=media&token=fc423c58-14be-4200-808c-64a0cfd0c0af')">
      <div class="carousel-caption d-none d-md-block">
        <p class="lead"><b>Corona Symptoms and What To Do</b></p>
      </div>
    </div> 



  </div> 
    <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev"> 
    <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
    <span class="sr-only">Previous</span> 
    </a> 
    
    <a class="carousel-control-next" href="#indicators" role="button" data-slide="next"> 
    <span class="carousel-control-next-icon" aria-hidden="true"></span> 
    <span class="sr-only">Next</span> 
    </a>
</div>



</div>


<style>

  .carousel-item {
      height: 120vh;
      background: no-repeat center center scroll;
      background-size: auto;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
      height: 55px;
      width: 55px;
      background-color: rgba(0, 0, 0, 0.9);
      background-size: 100%, 100%;
      border-radius: 100%;
      border: 5px solid #d5e5eb;
      opacity:0.8;
    }

    .carousel-indicators li {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 20px;
      text-indent: 0;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: black;
      box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
    }

    .carousel-indicators .active {
      width: 20px;
      height: 20px;
      margin: 20px;
      background-color: #d5e5eb;
    }

    .lead {
      font-family: 'Source Serif Pro', serif;
      font-size: 40px;
      color: white;
    }

    .font-weight-light {
        font-family: 'Source Serif Pro', serif
    }   
    

</style>

{% endblock body %}


