{% extends "login_register/base.html" %}

{% block title %}ICU Bed Details{% endblock title %}

{% block body %}
<div class="page-header">
  <h1>CONTACT</h1>
</div>
<div class="flex-container">
  <div class="flex-child white" style="padding-left: 2%">
    <i class="fas fa-map-pin"></i> <strong> <h3>Location: </h3> </strong>
    <iframe src = "{{gMap}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="flex-child white" style="padding-left: 2%">
  <br>
  <p>
  <strong><h3>Name:</h3></strong>
  <h3>{{hosName}}</h3>
  </p>
<p>
  <strong><h3>Address:</h3></strong>
  <h3>{{hosLocation}}</h3>
</p>
<p>
  <strong><h3>Phone:</h3></strong>
  <h3>{{contact}}</h3>
</p>
<p>
    <a href="{{website}}" title="Click to visit website" </a> <strong> <h3> Visit {{hosName}}'s website </h3> </strong>
</p>
  </div>  
</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    font-family: 'Maven Pro', sans-serif
}
h3{
  color: white;
}
.page-header{
 
    text-align: center;
    color: white;
}

.add {
    border-radius: 20px
}

a:link {
    text-decoration: none
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid white;
}  

.flex-child:first-child {
    margin-right: 20px;
}
  
</style>
{% endblock body %}
