{% extends "login_register/base.html" %}
{% block title %}Become Plasma Donor{% endblock title %}
{% block body %}
<style>
#jumbo{
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    color: #1b4332;
}
</style>
<div style="margin-top: 100px;" class="container">
    <div id="jumbo" class="jumbotron text-center">
        <h1 class="display-4">Thank You!</h1>
        <p class="lead">We appreciate your noble gesture of being a plasma donor.</p>
    </div>
</div>
{% endblock body %}