{% extends "login_register/base.html" %}

{% block title %}Donor List{% endblock title %}

{% block body %}

<style>
.bg{
    /*background:
    /*url("/static/images/makeAppointment.png") right top no-repeat;*/
    background-image: url("/static/images/view-appointment.png");
    background-repeat: no-repeat;
    background-position: right top;
    /*width: 600px;
    height: 600px;
    /*background-blend-mode: overlay;*/
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*.card {
    background-color: #B9F6CA;
    width: 350px;
    border-radius: 20px
}*/


.btn {
    border-radius: 15px !important
}

.line-color {
    color: green;
    height: 3px
}

.flip-card {
    width: 260px;
    border-radius: 20px;
    perspective: 1000px
}

.flip-card-inner {
    background-color: #B9F6CA;
    width: 260px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden
}
.flip-card-back {
    transform: rotateY(180deg);
    width: 260px;
    height: 300px;
    border-radius: 20px;
    background-color: #f2f2f2
}
.flip-card-front {
    color: black
}

.card-title {
    color: #007b5e;
    /*padding: 5px;*/
    margin-bottom: 5px;
}

.person {
    color: #007b5e;
    font-family: 'Yrsa', serif;
    font-size: 30px;
    padding: 15px
}
.card-body {
    background-color: #f2f2f2;
    width: 260px;
    height: 120px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  padding: 20px;
}
img {
  border-radius: 50%;
}
.iconStyle{
    color:#007b5e;
    margin-right: 10px;
}
.btnStyle{
    color: white;
    background-color:#007b5e;
}
</style>
<div style="margin-top: 100px; " class="container">
<h1><span style="color:#ee6055;">{{bloodGroup}}</span> <span style="color:#709775;">Plasma Donors</span> </h1>
</div>
<div class="container col-6 justify-content-center">
    <div  class="grid-container ">
        {% for nameList,ageList,emailList,genderList,occupationList,contactList,proPicList,districtList in donorDetails %}
            <div class="grid-item">
                <div class="card border-0 ">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {% if proPicList == 0  %}
                                    <img style="margin-top: 10px;" src="/static/images/NoProfilePicture.png" class="rounded-circle" width="100" alt="avatar">
                                {% else %}
                                    <img style="margin-top: 10px;" src={{proPicList}} class="rounded-circle" width="100" height="100" alt="avatar">
                                {% endif %}
                                <div style="margin-top: 5px;" class="card-body text-center ">
                                    <h4 class="card-title">{{nameList}}</h4>
                                    <div class="card-text text-black-55">
                                        <p  class="description text-black-50">{{ageList}} Years</p>
                                        <p><i class="far fa-address-book iconStyle"></i>{{contactList}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <h1 class="person text- ">Donor Details</h1>
                                <div class="container col-6">
                                    <p style="text-align: left;" class="description text-black-50"><i class="fas fa-venus-mars iconStyle"></i>{{genderList}}</p>
                                    <p style="text-align: left;" class="description text-black-50"><i class="fas fa-briefcase iconStyle"></i>{{occupationList}}</p>
                                    <p style="text-align: left;" class="description text-black-50 inline"><i class="fas fa-map-marker-alt iconStyle"></i>{{districtList}}</p>
                                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to={{emailList}}&subject=Pashe%20Achi%20Plasma%20Donor&body=">
                                        <button type="submit" class="btn font-weight-light btnStyle">
                                            Send Mail
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}