{% extends "login_register/base.html" %}
{% block title %} No donor {% endblock title %}
{% block body %}
<style>
#jumbo{
    background: linear-gradient(135deg, hsla(0, 100%, 41%, 1) 0%, hsla(3, 86%, 64%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D00000", endColorstr="#F25C54", GradientType=1 );
    opacity: 0.9;
    color: #fedfd4;
}
</style>
<div style="margin-top: 100px;" class="container">
    <div id="jumbo" class="jumbotron text-center">
        <h1 class="display-4">SORRY!</h1>
        <p class="lead">No donor was found.</p>
    </div>
</div>
{% endblock body %}