{% extends "login_register/base.html" %}
{% block title %}Become Plasma Donor{% endblock title %}
{% block body %}
<style>
#jumbo{
    background-color: #cb1b16;
    background-image: linear-gradient(147deg, #cb1b16 0%, #ef3c2d 74%);
    opacity: 0.9;
    color: #fedfd4;
}
</style>
<div style="margin-top: 100px;" class="container">
    <div id="jumbo" class="jumbotron text-center">
        <h1 class="display-4">SORRY!</h1>
        <p class="lead">You are not currently eligible to donate plasma.</p>
    </div>
</div>
{% endblock body %}