{% extends "login_register/base.html" %}

{% block title %}Make Apppointment{% endblock title %}

{% block body %}

<div  class="container mt-5 center">
    <h1 style="background-color:#086375; color:white; margin-top: 200px;" class="text-center alert">
    Thank You, {{patientFullName}}
    <br>
    for staying with us.
    </h1>
    <h5 class="text-center alert alert-info">
        Please check your email for confirmation of your appointment.
    </h5>
</div>
<!--<h1 class="home-title">
  <span>Simple text reveal with css</span>
  <span>using pseudo elements</span>
</h1>-->
{% endblock body %}