{% extends "login_register/base.html" %}
{% load static %}
{% block title %}Make Apppointment{% endblock title %}
{% block body %}
<style>
.input{
    width: 500px;
}
#head-line{
    width: 500px;
    background-color:#086375;
    color:white;
}
</style>
<div style="margin-top: 20px;" class="container col-9">
    <div class="media">
        <div class="media-body">
            <h2 id="head-line" class="text-center alert">Schedule an Appointment</h2>
            <form action="{% url 'appForm' %}" method="POST">
                {% csrf_token %}
                <div class="form-group input">
                    <label style="color: #abc4ff;" for="doctor">Select Doctor</label>
                    <select style="height:35px;" id="doctor" name="doctorId" class="form-control" onchange="configureDropDownLists(this,document.getElementById('ddl2',),document.getElementById('day',))" required>
                    {% for doctorNameList,doctorId in allDoctorName %} 
                        <option value="" disabled selected hidden>Select a Doctor</option>
                        <option value="{{doctorId}}">{{doctorNameList}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group input">
                    <select style="display:none;" id="day" class="form-control">
                    </select>
                </div>
                <div class="form-group input">
                    <label style="color: #abc4ff;" for="ddl2">Select Time</label>
                    <select style="height:35px;" id="ddl2" name="timeSlot" class="form-control" required>
                    </select>
                </div>
                <div class="form-group input">
                    <label style="color: #abc4ff;" for="inputDate">Date</label>
                    <input style="height:35px;" type="text" name="date"class="form-control" id="datepicker" placeholder="Date" required>
                </div>
                <input style="color:white;" type="submit" class="btn btn-success font-weight-bold" value="Confirm">
            </form>
        </div>
        <img class="align-self-center"  src="/static/images/makeAppointment1.png" alt="avatar">
    </div>
</div>
<script>
    var d;
    function configureDropDownLists(ddl1, ddl2, day) {
        '{% for doctorId,timeOneList,timeTwoList in timeSlot %}'
            var slots = ['{{timeOneList}}', '{{timeTwoList}}'];
            switch (ddl1.value) {
                case '{{doctorId}}':
                ddl2.options.length = 0;
                for (i = 0; i < slots.length; i++) {
                    createOption(ddl2, slots[i], slots[i]);
                }
            }
        '{% endfor %}'
        '{% for doctorId,consultationDay in day %}'
            var days = ['{{consultationDay}}'];
            switch (ddl1.value) {
                case '{{doctorId}}':
                day.options.length = 0;
                for (i = 0; i < days.length; i++) {
                    createOption(day, days[i], days[i]);
                }
                d = {{consultationDay}}
            }
        '{% endfor %}'
        $(document).ready(function(){
            $("#day").change(function(){
                var doc = $("#doctor option:selected");
            })
            $("#datepicker").datepicker({ 
                maxDate: '2M',  
                minDate: 0,
                dateFormat: 'yy-mm-dd', 
                beforeShowDay: function(date)
                {
                    var day = date.getDay();
                    if (day == d)
                    {
                        return [true];
                    }
                    else
                        return [false];
                }
            });
        });
    }
    function createOption(ddl, text, value) {
        var opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl.options.add(opt);
    }
</script>    
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock body %}