{% extends "login_register/base.html" %}

{% block title %}Request Oxygen Cylinder{% endblock title %}

{% block body %}


<div class="page-header">
    <h1><light>Make a request for {{title}}</light></h1>
</div>      
      <h4 class="mb-3">Recipient Details</h4>
      <div class="col-md-8 order-md-1">
      <form action="{% url 'oxygen_request' %}" method="POST" id="r">
      {% csrf_token %}
  <div class="form-group" >
    <label for="firstName"><h5>First Name</h5></label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name...">
  </div>
<div class="form-group" >
    <label for="lastName"><h5>Last Name</h5></label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name...">
  </div>
  <div class="form-group" >
    <label for="contact"><h5>Contact Number</h5></label>
    <input type="text" class="form-control" id="contact" name="contact" placeholder="+880..">
  </div>
  <div class="form-group" >
    <label for="address"><h5>Shipping Address</h5></label>
    <input type="text" class="form-control" id="address" name="address" placeholder="Enter full address">
  </div>
  <div class="form-group" >
    <label for="city"><h5>City</h5></label>
    <select class="form-control form-control-lg" id="city" name="city">
      <option>Dhaka</option>
    </select>
  </div>
    <div class="form-group" >
    <label for="cod"><h5>Payment Type</h5></label>
    <select class="form-control form-control-lg" id="cod" name="cod">
      <option>Cash on Delivery</option>
    </select>
  </div>

<button type="submit" class="btn btn-info">Make a Request</button> 

  </form>

<style>
.page-header{
 
    text-align: center;
    color:white
}

h1 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}
h4 {
  color: #ffffff;
}
h5 {
  color: #ffffff;
}
h6 {
  color: #ffffff;
}

</style>

{% endblock body %} 
