{% extends "login_register/base.html" %}
{% block title %}Search Not Found{% endblock title %}

{% block body %}
<div id="loader">
</div>
<div class = "parentDiv">
 <img src = "{% static 'images/searchnotfoundbackground.gif' %}">
</div>
<style>

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;
    background-color: #fff;
}
.parentDiv{
  display:flex;
  justify-content:center;
  align-items:center;
}


.add {
    border-radius: 20px
}

.card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer
    margin-left: 1000px; 
}

.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px #777777;
    box-shadow: 3px 5px 17px -4px #777777
}

.search {
    margin-bottom: auto;
    margin-top: 200px;
    height: 70px;
    background-color: #f2f9ff;
    padding: 10px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search:hover>.search-icon {
    background: #00b300;
    color: #000
}

.search-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #008000
}

a:link {
    text-decoration: none
}
  
</style>

{% endblock body %}
