{% extends "login_register/base.html" %}
{% block title %}Search for Blog Posts{% endblock title %}
{% block body %}
<div class="page-header">
    <h1 style="margin-top:4%;"><light>Search for Blog Posts</light></h1>    
</div>
<div class="container h-100" style="margin-top:7%;">
  <form class="d-flex justify-content-center h-100" action="{% url 'search_blog_post' %}" method="POST" id="s">
  {% csrf_token %}
    <input class="form-control mr-lg-2" type="search" name="search" id="search"  placeholder="Enter a keyword...">
    <button class="btn btn-info" type="submit">Search</button>
  </form>
</div>
<style> 
.page-header{
 
    text-align: center;
    color:white
} 

 .search {
     margin-bottom: auto;
     margin-top: auto;
     height: 70px;
     background-color: #fff;
     border-radius: 40px;
     padding: 10px
 }

 .search_input {
     color: white;
     border: 0;
     outline: 0;
     background: none;
     width: 0;
     margin-top: 5px;
     caret-color: transparent;
     line-height: 40px;
     transition: width 0.4s linear
 }

 .search .search_input {
     padding: 0 10px;
     width: 550px;
     caret-color: red;
     transition: width 0.4s linear
 }

 .search:hover>.search_icon {
     background: red;
     color: #fff
 }

 .search_icon {
     height: 50px;
     width: 50px;
     float: right;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     color: white;
     background-color: black
 }

 a:link {
     text-decoration: none
 }
</style>
{% endblock body %}
